.pricepanier {
    float: right;
    margin-right: 15px;
}

.pricepanier h2{
    font-style: italic;
    text-decoration: underline;
    
}

.pricepanier .valider input{
    font-style: italic;
    color: white;
    background-color: #001F5E;
    padding: 5px;
    border-radius: 5px;
    border:1px solid 4B86FB;
    line-height: normal;
}

.pricepanier .valider input:hover{
    color:#001F5E;
    background-color: white;
    border:1px solid #001F5E;
    line-height: normal;
}

.quantite{
    margin: 15px 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-align: start;
    padding: 5px;
    border: 1px solid black;
}